In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
toyota_df=pd.read_csv(r"T:\! Active\Data Analytics\_Projects\04 - Financial Analysis of Car Sector\company_data_csv\7203.T Income Statement (Annual) - Discounting Cash Flows.csv")
tsla_df=pd.read_csv(r"T:\! Active\Data Analytics\_Projects\04 - Financial Analysis of Car Sector\company_data_csv\TSLA Income Statement (Annual) - Discounting Cash Flows.csv")
volkswagen_df=pd.read_csv(r"T:\! Active\Data Analytics\_Projects\04 - Financial Analysis of Car Sector\company_data_csv\VOW3.DE Income Statement (Annual) - Discounting Cash Flows.csv")
ford_df=pd.read_csv(r"T:\! Active\Data Analytics\_Projects\04 - Financial Analysis of Car Sector\company_data_csv\F Income Statement (Annual) - Discounting Cash Flows.csv")
gm_df=pd.read_csv(r"T:\! Active\Data Analytics\_Projects\04 - Financial Analysis of Car Sector\company_data_csv\GM Income Statement (Annual) - Discounting Cash Flows.csv")

gm_df.head()

,Period Ending:,LTM \n (Last Twelve Months),2023\n 12-31,2022\n 12-31,2021\n 12-31,2020\n 12-31,2019\n 12-31,2018\n 12-31,2017\n 12-31,2016\n 12-31,2015\n 12-31,2014\n 12-31,2013\n 12-31,2012\n 12-31,2011\n 12-31,2010\n 12-31,2009\n 12-31,2008\n 12-31
0,Report Filing:,NaN,2024-01-30,2023-01-31,2022-02-02,2021-02-10,2020-02-05,2019-02-06,2018-02-06,2017-02-07,2016-02-03,2015-02-04,2014-02-06,2013-02-15,2012-02-27,2011-03-01,2010-04-07,2008-12-31
1,Revenue,"178,093","171,842","156,735","127,004","122,485","137,237","147,049","145,588","166,380","152,356","155,929","155,427","152,256","150,276","135,592","104,589","148,979"
2,Cost of Revenue,"154,338","152,704","135,754","109,126","108,813","123,265","132,954","125,997","145,125","134,054","142,121","137,373","141,443","131,171","118,792","112,195","149,257"
3,Gross Profit,"23,755","19,138","20,981","17,878","13,672","13,972","14,095","19,591","21,255","18,302","13,808","18,054","10,813","19,105","16,800","-7,606",-278
4,Operating Expenses,"12,214","9,840","10,666","4,212","4,744","5,754","9,650","9,575","11,710","13,405","12,278","12,923","41,176","13,449","11,716","13,417","20,952"

In [4]:
def clean_and_transpose(df, company_name):
    df_cleaned = df.drop(columns=df.columns[1])
    
    df_cleaned.columns = [f"{company_name}_{col_name}" for col_name in df_cleaned.iloc[0]]
    df_cleaned = df_cleaned.drop(0).reset_index(drop=True)
    
    df_transposed = df_cleaned.set_index(df_cleaned.columns[0]).T
    df_transposed.index.name = 'Year'
    
    return df_transposed

In [7]:
tsla_clean = clean_and_transpose(tsla_df, 'TSLA')
toyota_clean = clean_and_transpose(toyota_df, '7203.T')
volkswagen_clean = clean_and_transpose(volkswagen_df, 'VOW3.DE')
ford_clean = clean_and_transpose(ford_df, 'F')
gm_clean = clean_and_transpose(gm_df, 'GM')

tsla_clean.head()

TSLA_Report Filing:,Revenue,Cost of Revenue,Gross Profit,Operating Expenses,Research & Development,"Selling, General and Administrative",Other Operating Expenses,Operating Income,Net Interest(Non Operating),Interest Income,...,Income Before Tax,Income Tax Expense,Income Attributable to Non-Controlling Interest,Net Income,Depreciation and Amortization,EBITDA,Earnings Per Share (EPS),Diluted Earnings Per Share,Weighted Average Shares Outstanding,Diluted Weighted Average Shares Outstanding
Year,,,,,,,,,,,,,,,,,,,,,
TSLA_ 2024-01-29,"96,773","79,113","17,660","8,769","3,969","4,800",0,"8,891",910,"1,066",...,"9,973","-5,001",-25,"14,999","4,667","13,558",4.73,4.3,"3,174","3,485"
TSLA_ 2023-01-31,"81,462","60,609","20,853","7,197","3,075","3,946",176,"13,656",106,297,...,"13,719","1,132",4,"12,583","3,543","17,199",4.02,3.62,"3,130","3,475"
TSLA_ 2022-05-02,"53,823","40,217","13,606","6,919","2,593","4,517",-191,"6,687",-315,56,...,"6,343",699,120,"5,524","2,911","9,598",1.87,1.63,"2,958","3,387"
TSLA_ 2021-02-08,"31,536","24,906","6,630","4,636","1,491","3,145",0,"1,994",-718,30,...,"1,154",292,141,721,"2,322","4,316",0.25,0.21,"2,799","3,249"
TSLA_ 2020-04-28,"24,578","20,509","4,069","3,900","1,343","2,646",-89,169,-641,44,...,-665,110,0,-775,"2,154","2,323",-0.29,-0.29,"2,661","2,661"

In [ ]:
gm_clean.to_csv("gm_data.csv",index=True)
ford_clean.to_csv("ford_data.csv", index=True)
volkswagen_clean.to_csv("volkswagen_data.csv",index=True)
toyota_clean.to_csv("toyota_data.csv",index=True)
tsla_clean.to_csv("tesla_data.csv",index=True)